.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    width: fit-content;
    margin-bottom: 3rem;
}

.img_container {
    width: 33rem;
    position: relative;
}

.img {
    width: 100%;
    object-fit: contain;
}

.desc {
    width: 45%;  
    position: absolute;
    bottom: -4.5rem;
    left: 8rem;
    background-color: transparent;
}

nav {
    max-width: 870px;
    width: 100%;
    margin-bottom: 70px;
    margin-top: 60px;
}

nav ul {
    margin-block: 0px;
    padding-inline: 0px;
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    font-size: clamp(0.875rem, 0.466rem + 2.05vw, 2rem);
    font-weight: bold;

    letter-spacing: 0.06rem;
}

.text_hover {
    position: relative;
    display: inline-block;
}

.text_hover:hover .textwrapper_b,
.text_hover:hover .textwrapper_g,
.text_hover:hover .textwrapper_r,
.text_hover:hover .textwrapper_y {
    width: 100%;
}

.textwrapper_b {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    width: 0;
    display: inline-block;
    white-space: pre;
    color: var(--blue);
    transition: width .4s;
    border-bottom: 3px solid;
}

.textwrapper_g {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    width: 0;
    display: inline-block;
    white-space: pre;
    color: var(--green);
    transition: width .4s;
    border-bottom: 3px solid;
}

.textwrapper_r {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    width: 0;
    display: inline-block;
    white-space: pre;
    color: var(--red);
    transition: width .4s;
    border-bottom: 3px solid;
}

.textwrapper_y {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    width: 0;
    display: inline-block;
    white-space: pre;
    color: var(--yellow);
    transition: width .4s;
    border-bottom: 3px solid;
}

nav li:nth-child(1).active {
    color: var(--blue);
    border-bottom: 3px solid;
}

nav li:nth-child(2).active {
    color: var(--green);
    border-bottom: 3px solid;
} 

nav li:nth-child(3).active {
    color: var(--red);
    position: relative;
    border-bottom: 3px solid;
}

nav li:nth-child(3).active::before {
    content: "current";
    position: absolute;
    width: 0;
    overflow: hidden;
    animation: showPseudo .4s forwards;
    top: -1rem;
    left: -60%;
    font-size: clamp(0.9rem, 0.791rem + 0.55vw, 1.2rem);
    font-weight: 400;
}
@keyframes showPseudo {
    100% {
        width: 100%;
        left: 0;
        overflow: visible;
    }
 }


nav li:nth-child(4).active {
    color: var(--yellow);
    border-bottom: 3px solid;
}

.cutlink {
    position: relative;
    white-space: nowrap; 


}

.cutlink-inner {
    clip-path: polygon(0 -20%, 100% -20%, 100% 51%, 0 51%);
    -webkit-clip-path: polygon(0 -20%, 100% -20%, 100% 51%, 0 51%);
    display: block;
  }

  .cutlink:before {
    content: attr(data-content);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 120%, 100% 120%, 100% 50%, 0 50%);
    -webkit-clip-path: polygon(0 120%, 100% 120%, 100% 50%, 0 50%);
  }

  .cutlink-inner, .cutlink:before {
    transition: transform .2s var(--easeOutBack);
  }

  .cutlink:hover .cutlink-inner, 
  .cutlink:hover .cutlink:before{
      transition: transform 1s var(--easeOutCirc);
  }

  .cutlink:hover .cutlink:before {
    transform: translate(3px, 1px);
  }

  .cutlink:hover .cutlink-inner {
    transform: translate(-3px, -1px);
  }

@media screen and (max-width: 1090px) {
    nav ul {
        padding-inline: 2rem;
        justify-content: space-around;
    }
}

@media screen and (max-width: 600px) {
    nav {
        margin: 50px 0px;
    }
}


/******* Usernav ******/

.userNav {
    position: absolute;
    right: 0;
    top: 0;
}

.userNav ul {
    list-style-type: none;
    padding-inline: 0px;

    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 2.5rem 2.5rem 0rem 0rem;
}

.userNav li {
    font-size: 2.5rem;
    transition: all .25s ease-in-out;
    position: relative;
}

.userNav li:hover,
.userNav li:hover a {
    transform: scale(1.2);
    cursor: pointer;
    color: var(--purple);
}

.userNav .hover {
    display: none;
}


.userNav .email .hoverText {
    color: var(--light);
    font-weight: 400;
    font-size: 12px;
    right: -78%;
    margin-left: -50px;
    padding: 0rem 1rem;
    display: flex;
    justify-content: center;
    position: absolute;
    text-align: start;
    top: 80%;
    visibility: hidden;
    z-index: 1;
}

.userNav .email:hover .hoverText {
    visibility: visible;
}

.userNav li a {
    color: var(--light);
}

.mobileNav, .mobileNav_btn {
    display: none;
}


@media screen and (max-width: 600px) {
    .userNav  {
        display: none;
    }

    .mobileNav_btn {
        display: block;

        position: absolute;
        right: 0;
        top: 0;
        margin: 1rem;
        z-index: 10;
    }

    .mobileNav_btn img {
        width: 3rem;
    }
}

/************************/


@media screen and (max-width: 500px) {
    .bg_one, .bg_two {
        display: none;
    }

    .head .img_container {
        width: 26rem;
    }

    .head .desc {
        width: 80%;
        bottom: -6rem;
        left: 3rem;
        letter-spacing: 0.05rem;
    }

    .skills ul {
        font-size: 1.5rem !important;
        row-gap: 0rem !important;
    }

    .head .img_container {
        width: 24rem;
    }

    .wrapper, .content .about  {
        padding-inline: 1rem !important;
    }
    
    nav {
        margin: 80px 0px 50px;
    }

    nav ul {
        justify-content: space-between;
        font-size: 18px;
        padding-inline: 1rem;
    }

    svg.svg-not_for_full path {
        stroke: #00FF0A;
    }

    svg.svg-not_for_full {
        top: -1rem;
    }
}



.mobileNav.active {
    display: flex;
    height: 100%;
    width: 100%;
    position: fixed;

    justify-content: center;
    align-items: center;
    z-index: 5;

    top: 0rem;

    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 700 700" width="700" height="700"><defs><filter id="nnnoise-filter" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB"><feTurbulence type="fractalNoise" baseFrequency="0.094" numOctaves="4" seed="15" stitchTiles="stitch" x="0%" y="0%" width="100%" height="100%" result="turbulence"></feTurbulence><feSpecularLighting surfaceScale="16" specularConstant="0.7" specularExponent="20" lighting-color="%23514042" x="0%" y="0%" width="100%" height="100%" in="turbulence" result="specularLighting"><feDistantLight azimuth="3" elevation="102"></feDistantLight></feSpecularLighting></filter></defs><rect width="700" height="700" fill="%23232323ff"></rect><rect width="700" height="700" fill="%23514042" filter="url(%23nnnoise-filter)"></rect></svg>');
    background-repeat: no-repeat;
    background-size: cover;
}

.mobileNav.active ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin-block: 0px;
    padding-inline: 0px;
    list-style-type: none;

    font-size: 4rem;
    color: var(--purple);
    color: var(--light);

}

.mobileNav_btn {
    width: 25px;
    height: 16px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

    align-self: end;
    margin: -2rem 1.5rem 0rem 0rem;
}

.mobileNav_btn span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--light);
    border-radius: 0px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.mobileNav .mobileNav_btn {
    position: sticky;
    top: 0;
    left: 0;
}

main:has(.mobileNav.active) {
    overflow-y: hidden;
/*     max-height: 80vh; */
}

@media screen and (min-width: 600px) {
    .mobileNav.active {
        display: none;
    }
}

.mobileNav_btn span:nth-child(1) {
    top: 0px;
  }
  
  .mobileNav_btn span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 8px;
  }
  
  .mobileNav_btn span:nth-child(4) {
    top: 16px;
  }
  
  .mobileNav_btn.open span:nth-child(1) {
    top: 20px;
    width: 0%;
    left: 50%;
  }
  
  .mobileNav_btn.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .mobileNav_btn.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .mobileNav_btn.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
