.wrapper.projects {
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));	    
/*     grid-template-columns: repeat(3, minmax(0, 1fr));  */
    gap: 25px;
/*     height: 100%; */
}

.wrapper.projects button {
    background-color: transparent;
}

.projects .card {
    position: relative;
    border-radius: 2rem;
     overflow: hidden; 
     background-color: var(--dark);
}

.projects .card:hover {
    cursor: pointer;
}

 .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: none;
    border-radius: 0;
    background: linear-gradient(0deg,rgba(10,8,18,.8) 18%,hsla(0,0%,89%,.02) 100%); 
} 

ul.tech {
    position: absolute;
    right: 1.5rem;
    bottom: 1.3rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h6 {
    width: fit-content;
    z-index: 5;
    position: absolute;

    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 0.045rem;
    text-transform: uppercase;
    color: var(--yellow);
    margin: 0;

    bottom: 1rem;
    transition: all .25s ease-in-out;
}

ul.tech li {
    transition: all .25s ease-in-out;
    font-size: 12px;
    color: var(--yellow);
    width: fit-content;
    font-weight: 500;
}

 ul.tech li:not(:last-child) {
    margin-bottom: 0;
    padding-bottom: .2rem;
} 

.wrapper.projects figure {
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.wrapper.projects figure img {
    height: 105%;
    width: 110%;
    z-index: -1;
    object-fit: cover;

    transition: all .3s ease-in-out;
}

.wrapper.projects figure img.full {
    width: 100%;
}

.wrapper.projects .card .card_desc {
/*     align-items: flex-start;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    left: 5%;
    position: absolute;
    transition: all .4s;
    width: 100%; */

    padding: 2rem;
}

h6, ul.tech li /* .projects .card */  {
   transition: all .25s ease-in-out;   
}

.wrapper.projects .card {
    padding: 0;

}

.card_desc {
    opacity: 0;
}

/* .wrapper.projects .card:hover figure img {
    transform: scale(1.1);
}   */


.wrapper.projects .card.gradient:hover ul.tech {
    right: 1.5rem;
}

.wrapper.projects .card.gradient:hover .card_desc h6 {
    font-size: 1.5em;
    text-shadow: 0 4px 4px rgba(0,0,0,.25);
}

.wrapper.projects .card.gradient:hover ul.tech li  {
    font-size: 14px;
} 



span.sudoku {
    background-image: url("../../assets/sudoku_mindre.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: block;
    height: 100%;
}

span.hills {
    background-image: url("../../assets/hills.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: block;
    height: 100%;
}

span.workout {
    background-image: url("../../assets/workout_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: block;
    height: 100%;
}

span.chuck {
    background-image: url("../../assets/chuck_mindre.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: block;
    height: 100%;
}

span.hub {
    background-image: url("../../assets/hubspot_mindre.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: block;
    height: 100%;
}

span.boye {
    background-image: url("../../assets/noah_test_boye.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: block;
    height: 100%;
}


/* .sudoku, .hills, .workout, .chuck, .hub, .boye {
    transition: transform .25s ease-in-out;
}

.projects .card:hover span.sudoku,
.projects .card:hover span.hills,
.projects .card:hover span.workout,
.projects .card:hover span.chuck,
.projects .card:hover span.hub,
.projects .card:hover span.boye {
    transform: scale(1.1);
}  */