figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

button.mobileNav_btn {
    background: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
    box-shadow: none;
    transition: none;

}