/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
} */

/* .intro {
  text-align: center;
  display: flex;
  place-items: center;
  justify-content: center;
  flex-direction: column;
} */

/* .img_container {
  width: 33rem;
  position: relative;
}

.img {
  width: 100%;
  object-fit: contain;

}
 */

/* .intro_cont {
  animation-name: heartbeat; 
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  animation-direction: alternate;
} */



/* .nav {
  position: absolute;
  top: 5rem;
  right: 0;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  margin-right: -4.5rem;
}

.nav li:first-child {
  margin-left: -3rem;
}

.nav a {
  color: var(--black);
  font-weight: 700;
  font-size: 1.25rem;
  transition: all .25 ease-in-out;
}

.nav a:hover {
  color: var(--black);
} */

/* a {
  position: relative;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 7px;
    background-color: var(--black);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
  } */
/* 
a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
} */


/*********
********** Main.jsx */

/* .content {
  max-width: var(--content-width);

  margin-top: 4rem;

  display: grid;
  gap: 150px;
} */

/*********
********** Hero.jsx */



/* p {
  margin-top: 0;
  margin-bottom: .2rem;
} */


/*********
********** Skills.jsx */


.skills {
/*   position: absolute; */
/*   display: flex;
  justify-content: flex-start;
  transform: skew(-10deg, -3deg);

  max-width: var(--content-width);
  margin-bottom: 1rem; */
}


/* .skills ul {
  list-style-type: none;
  font-weight: 500;
  padding-inline-start: 2rem;
  width: 80%;
}

.skills h2 {
  margin: 1.5rem 1rem 0rem 0rem;
}

.skills ul li {
  margin-bottom: 1rem;
}

ul.first_row {
  margin-top: 3rem;
}

ul.second_row {
  margin-top: 4rem;
  width: 60%;
}

ul.third_row {
  margin-top: 5rem;
}

ul.fourth_row {
  margin-top: 6rem;
}

.skills ul span {
  font-weight: 300;
}
 */